body {
 text-align: center;


}
.container{
    margin: auto;
    width: 600px; 
    padding: 20px;
    background-color: rgb(199, 252, 254);

}

img{
    display: block;
    margin: auto;
    height: 300px;
}

button{
    font-weight: bold;
    font-size: x-large;
    width: 500px;
  display: block;
  margin: auto;
  padding: 5px;
  margin-top: 10px;
}
.wrong-ans{
    background-color: red;
}
.correct-ans{
    background-color: greenyellow;
}
.victory{
   
    display: none;

}
.show{
    display: block;

}